.no-bullets{
    list-style-type:none;
   
}


body{
    background-color: rgba(255, 255, 255, 0.664);
}




.short{
    line-height:1.2em;
    height:2.6em;
    overflow:hidden;
  }  
  
.new-color:hover{
background-color: rgb(179, 5, 5);
}
  

.like_btn{
font-size: 10px;
}


